In [1]:
name = 'Ayushi Raj Singh'
x=10
y=3
z=3.14
del name
name = 'ayushi raj singh'

## OPERATORS
- ARITHMETIC OPERATORS
- ASSIGNMENT OPERATORS
- COMPARISON OPERATORS
- LOGICAL OPERATORS
- IDENTITY OPERATORS
- MEMBERSHIP OPERATORS

In [2]:
print(x+y)
print(x-y)
print(x*y)
print(x/y) #float division
print(x//y) #integer division
print(x%y) #remainder
print(x**y) #power(exponentation)

13
7
30
3.3333333333333335
3
1
1000

In [3]:
#assignment operator
a = x+y 
a+= 1
a -= 1
a*= 2
a /= 5 
print(a)

5.2

In [4]:
#comparison operator
print ( x > y )
print ( x < y )
print ( x >= y )
print ( x <= y )
print ( x == y )
print ( x!= y )

True
False
True
False
False
True

In [5]:
#logical
#and,or,not
x < y and y < 10

False

In [6]:
not x > y

False

In [8]:
#membership operator
#to check the prescence 
#searching and looping
fruits = ['Apple', 'Banana', 'Cherry']
print('Apple' in fruits)
print('apple' in fruits) # case sensitive hai language isiliye result false aayega
print('pomogranate' in fruits)

True
False
False

In [10]:
#identity operator
f = ['Apple', 'Banana', 'Cherry']
fruits == f # value check kara rhe
fruits is f #reference equality (memory address)

False

In [11]:
#don't check is operator with integers
x =10
y = 10
print(x==y)
print(x is y)

True
True

I/O

In [15]:
name = input('enter your name')
city = input('enter your city')
age = input('enter your age')
print(name,city,age)

Ayushi raj Singh Lucknow 21

In [20]:
#to check data type
x= 10
print(type(x))
#convert to float
x = float (x)
print(x, type(x))
x = str(x)
print(x,type(x))
x = bool(x)
print(x, type(x))
x = str(x)
print(x,type(x))
#x= int(x) ye error dega

<class 'int'>
10.0 <class 'float'>
10.0 <class 'str'>
True <class 'bool'>
True <class 'str'>

In [21]:
x = int(input('enter a number for A:'))
y = int(input('enter a number for B:'))
print(x+y)

19

In [28]:
print(name, age ,city)
print('Name:', name,'Age:', age, 'City:',city) #both static and dynamic data
print(name, age ,city)
print('Name:', name,'\n','Age:', age,'\n','City:',city) #line change
print(name, age ,city, sep=',')

Ayushi raj Singh 21 Lucknow
Name: Ayushi raj Singh Age: 21 City: Lucknow
Ayushi raj Singh 21 Lucknow
Name: Ayushi raj Singh
 Age: 21
 City: Lucknow
Ayushi raj Singh,21,Lucknow

In [30]:
print(x) #by default line change
print(y)

17
2

In [31]:
print(x, end=' ') #loops mei use krenge
print(y)

17 2

In [37]:
'I Live in city'
'I Live in {city}'
f'I Live in {city}'
f'I Live in city'

'I Live in city'

In [38]:
f'I Live in {city}'

'I Live in Lucknow'

In [40]:
print(f'x={x}, y={y}')
print(f'x**y = {x**y}')

x=17, y=2
x**y = 289

In [43]:
print(f'{name} {len(name)}')
print(f'{city} {len(city)}')

Ayushi raj Singh 16
Lucknow 7

In [44]:
print(f'{name:20} {len(name)}') #spaces k liye (table form mei)
print(f'{city:20} {len(city)}')

Ayushi raj Singh     16
Lucknow              7