In [2]:
raju = [56,90,34,43,56]

raju_dict = {
    'English' : 56,
    'Hindi' : 90,
    'Maths' : 43,
    'Chemistry' : 34,
    'Evs' : 56
}
print(raju_dict)

{'English': 56, 'Hindi': 90, 'Maths': 43, 'Chemistry': 34, 'Evs': 56}

In [6]:
company = {
    'emp001' : {
        'name' : "Amar Kumar",
        'designation' : 'Assistant III',
        'salary' : 32000,
    },
    'emp002' : {
        'name' : 'Ranu Singh',
        'designation' : 'Staff Officer',
        'salary' : 89000,
    },
    'total_emp' : 2,
    'departments' : 'Account',
    'vacancy': ['clerk','manager','assistant I']
}

In [7]:
company['name'] = 'Acme Inc' #adding a key and value to dict
print(company)

{'emp001': {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}, 'emp002': {'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}, 'total_emp': 2, 'departments': 'Account', 'vacancy': ['clerk', 'manager', 'assistant I'], 'name': 'Acme Inc'}

In [8]:
company['total_emp'] = 3
company['emp003'] = {
    'name' : 'Ajay Verma',
    'designation' : 'clerk',
    'salary' : 45000
}

In [9]:
company

{'emp001': {'name': 'Amar Kumar',
  'designation': 'Assistant III',
  'salary': 32000},
 'emp002': {'name': 'Ranu Singh',
  'designation': 'Staff Officer',
  'salary': 89000},
 'total_emp': 3,
 'departments': 'Account',
 'vacancy': ['clerk', 'manager', 'assistant I'],
 'name': 'Acme Inc',
 'emp003': {'name': 'Ajay Verma', 'designation': 'clerk', 'salary': 45000}}

In [10]:
company.get('website')
# compant['emp004']

In [12]:
if 'website' in company:
    print('website exists in dict')

In [13]:
print(company.keys())
print(company.values())

dict_keys(['emp001', 'emp002', 'total_emp', 'departments', 'vacancy', 'name', 'emp003'])
dict_values([{'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}, {'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}, 3, 'Account', ['clerk', 'manager', 'assistant I'], 'Acme Inc', {'name': 'Ajay Verma', 'designation': 'clerk', 'salary': 45000}])

In [14]:
print(company.items())

dict_items([('emp001', {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}), ('emp002', {'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}), ('total_emp', 3), ('departments', 'Account'), ('vacancy', ['clerk', 'manager', 'assistant I']), ('name', 'Acme Inc'), ('emp003', {'name': 'Ajay Verma', 'designation': 'clerk', 'salary': 45000})])

In [19]:
for i in raju_dict:
    print(i) #keys print hongi
for j in raju_dict:   
    print(raju_dict[j]) #values print hongi

English
Hindi
Maths
Chemistry
Evs
56
90
34
34
56

In [20]:
for k,v in company.items():
    print(k,v)

emp001 {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': 32000}
emp002 {'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}
total_emp 3
departments Account
vacancy ['clerk', 'manager', 'assistant I']
name Acme Inc
emp003 {'name': 'Ajay Verma', 'designation': 'clerk', 'salary': 45000}

In [21]:
for k,v in company.items():
    if isinstance(v,dict):
        print(k)
        for key,value in v.items():
            print("--->",key,value)
    else:
        print(k,v)

emp001
---> name Amar Kumar
---> designation Assistant III
---> salary 32000
emp002
---> name Ranu Singh
---> designation Staff Officer
---> salary 89000
total_emp 3
departments Account
vacancy ['clerk', 'manager', 'assistant I']
name Acme Inc
emp003
---> name Ajay Verma
---> designation clerk
---> salary 45000

WAP TO CREATE A DICTIONARY WHICH TAKES USER INPUT AND STORES THE NAME OF ITEM AND IT'S PRICE.
The user can input unlimited inputs.

In [ ]:
dict =