#### list
- indexed,ordered,mutable,allows duplicate elements, heterogeneous,'[]','list()'
#### tuple
- indexed,ordered,**immutable**,allows duplicate elements, heterogeneous,'()','tuple()'
#### set
- **unordered**,mutable,**does not allows duplicate elements**, heterogeneous,'{}','set()'
#### dictionary
- **unordered**,mutable,**does not allows duplicate elements**, heterogeneous,key:value pairs,'{}','dict()'

#### list 
- cretion
- indexing and slicing
- methods(11 methods)
- lists comprehension

In [1]:
x = [1,2,3,4,5]
names = ['John', 'Paul','George','Ringo']
mix = [1,'John',3.14,True]
nested = [[1,2,3],[4,5,6],[7,8,9]]
empty = []
cloned = [1,2,3]*5 #repeat list 5 times
words = 'this is sparta'.split()
chars = list('Alexander')

In [2]:
print(x[0])
print(x[-1])
x [0] = 100 #mutable #updating value at index 0

1

In [4]:
print(chars[:5])
print(chars[5:])
print(chars[:-5])
print(chars[::-1])

['A', 'l', 'e', 'x', 'a']
['n', 'd', 'e', 'r']
['A', 'l', 'e', 'x']
['r', 'e', 'd', 'n', 'a', 'x', 'e', 'l', 'A']

- methods are linked to variable
- functions can be directly accessed

#### Methods
- adding
    - append() - adds an element to the end of the list
    - extend() - add all elements of one list to another lis
    - insert() - adds an element to a specific index
- removing 
    - remove() - 
    - pop()
    - clear()
- utility methods
    - count()
    - index()
    - sort()
    - reverse()
    - copy()

In [5]:
x.append(6)
x.append(3)
print(x)

[1, 2, 3, 4, 5, 6, 3]

In [6]:
a = [11,12,13]
x.extend(a)
print(x)

[1, 2, 3, 4, 5, 6, 3, 11, 12, 13]

In [8]:
x.insert(5,100)
x.insert(6,500)
print(x) # 5 aur 6 index aage shift ho jaega

[1, 2, 3, 4, 5, 100, 500, 100, 500, 6, 3, 11, 12, 13]

wap to take 10 values from user and fill it into list

In [19]:
list = []
for i in range(0,10):
    x = input('enter the values')#typecasting krni padegi agar numbers add krne h to
    list.append(x)
print(list)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [20]:
list
list.remove('4')
print(list)

['0', '1', '2', '3', '5', '6', '7', '8', '9']

In [22]:
list.remove('6') if '6' in list else print('nine not found')

nine not found

In [26]:
x = [1,2,3,4,5]
print(x.pop()) #last element
print(x.pop(2))
#galat index denge to crash kr jaega

5
3

In [28]:
x.clear()
print(x) #list khali ho jaegi

[]

In [29]:
del x #kisi bhi variable ko memory se hatane k liye (keyword h del)

In [30]:
a = [1,2,3,1,1,2,2,2,2,1,1,1]
print(a.count(1))
# sort mei sort ho jaegi (agar mix data hoga to crash ho jaegi)
#reverse mei reverse ho jaegi

6

In [31]:
names.sort()
print(names)

['George', 'John', 'Paul', 'Ringo']

wap a program to create a fibonacci series of 10 numbers and store it in a list

In [38]:
x = 0
y= 1
list = []
fibo =0
list.append(x)
list.append(y)
for i in range(0,8):
    fibo = x + y
    x = y
    y = fibo
    list.append(fibo)
print(list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [40]:
a =[0,1]
for i in range(10):
    a.append(a[-2]+a[-1])
print(a)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [3]:
x = [1,2,3,4,5]
x2 = []
for i in x:
    s = i**2
    x2.append(s)
print(x)
print(x2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [3]:
names ={'peter parker','bruce wayne','clark kent'}
fnames = []
for nm in names:
    fnames.append(nm.split()[0])
print(fnames)

['bruce', 'peter', 'clark']

WAP having a list of 10 numbers, make a new list check even numbers in the list and fill the new list with even numbers

In [4]:
x = [1,2,3,4,5,6,7,8,9,10]
x2 = []
for i in x:
    if i%2 == 0:
        x2.append(i)
print(x2)

[2, 4, 6, 8, 10]

newlist = [expression for item in iterable if condition == true]

In [5]:
x2 = [i**2 for i in x]
print(x2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
lnames = [nm.split()[-1] for nm in names]
print(lnames)

['wayne', 'parker', 'kent']

In [9]:
x = [1,2,3,4,5,6,8,9,10,12]
xevens = [i for i in x if i%2 == 0]
print(xevens)

[2, 4, 6, 8, 10, 12]

In [2]:
y = [1,2,3,4,5,1,2,3,5,6,1,2,2,3,3,5,5,6,7,3,3,6,6,7,3,2,1,3,5]
#take all odd number -> get there cube -> put it in a list
odd_number = [i**3 for i in y if i%2 != 0]
print(odd_number)

[1, 27, 125, 1, 27, 125, 1, 27, 27, 125, 125, 343, 27, 27, 343, 27, 1, 27, 125]