FOR
for temp_var in iterable:
    statement 1
    ...

    statement n
...
iterables are string,list,tuple,set,dict,generators, etc

In [6]:
nums = [1,23,5,6,3,6,21,6,6]
for i in nums:
    print(i)

1
23
5
6
3
6
21
6
6

- ENUMERATE 
- ZIP

In [7]:
names = ['John', 'Jane', 'Jack', 'Jill']
for name in enumerate(names): #index bhi print krega
    print(name)

(0, 'John')
(1, 'Jane')
(2, 'Jack')
(3, 'Jill')

In [8]:
for idx,  name in enumerate(names): #index bhi print krega
    print(name, idx)

John 0
Jane 1
Jack 2
Jill 3

In [9]:
x = [2,3,6,8,10]
y = [1,3,5,7,9]
#ek se zada iterables ko iterate krana
for i,j in zip(x,y):
    print(i*j)

2
9
30
56
90

In [12]:
z = [3,6,9,12,15]
for i,j,k in zip(x,y,z):
    print(i*j+k)

5
15
39
68
105

In [13]:
movies = ['Interstellar', 'The Martian', 'Gravity', 'Apollo 13']
rating = [8.6,8.0,7.7,7.6]
for name,star in zip(movies, rating):
    print(f'{name:20}{star}⭐')

Interstellar        8.6⭐
The Martian         8.0⭐
Gravity             7.7⭐
Apollo 13           7.6⭐